*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    transition: 1s;
}

.container-menu{
    width: 100%;
    height: 200px;
    background-color: #182625;
    color: white;
}

.container-menu h1{
    display: inline-block;
    margin-left: 550px;
    margin-top: 60px;

}

.container-menu img{
    width:28px;
    position: relative;
    left: -300px;
    top: 0px;
}

.botoes-header{
    margin-left: 45vh;
}

/* CONTEUDO PRINCIPAL */

.container{
    width: 100%;
}

.container-sobrenos{
    height: 400px;
    background-color: #28403D;
    color: white;
}

 h2, p, button{
    margin-left: 100px;
}

 h2{
    padding-top: 100px;
    padding-bottom: 10px;
}

button{
    width: 130px;
    height: 30px;
    color: white;
    font-weight: bold;
    background-color: #3D5A73;
    border: 3px solid #243442;
    border-radius: 8%;
    margin-top: 20px;
    opacity: 90%;
    transition: .5s;
}

 button:hover{
    cursor: pointer;
    width: 130px;
    height: 50px;
    background-color: #3D5A73;
    border: 3px solid #243442;
}

.container-sobrenos img{
    position: absolute;
    right: 200px;
    top: 250px;
    width: 400px;
    height: 300px;
    border: 5px solid #3D5A73;
    border-radius: 5%;
    transition: .5s;
}

.container-conserto{
    width: 100%;
    height: 400px;
    background-color: #28403D;
    color: white;
}

.container-conserto img{
    position: absolute;
    right: 200px;
    top: 650px;
    background-color: black;
    width: 400px;
    height: 300px;
    border: 5px solid #3D5A73;
    border-radius: 5%;
    transition: .5s;
}

/* RODAPE */

textarea{
    resize: none;
}

input:focus, textarea:focus{
    box-shadow: 0 0 0 0;
    outline: 0;
}

footer{
    height: 50vh;
    background-color: #181f20;  
    color: white;
}

.container-footer{
    display: flex;
    width: 100%;
    height: 350px;
    font-size: 20px;
}

#mensagem{
    padding-top: 50px;
    padding-left: 10px;
}

#mensagem h3{
    margin-left: 20px;
    padding-bottom: 20px;
}

#mensagem textarea{
    border: 4px solid #455559;
    border-radius: 4%;
    text-align: center;
}

#contato{
    padding-top: 50px;
    padding-left: 50px;
}

#contato h3{
    margin-left: 100px;
    padding-bottom: 20px;
}

#contato p{
    padding-bottom: 30px;
}

#endereco{
    padding-top: 50px;
    padding-left: 50px;
}

#endereco h3{
    margin-left: 100px;
    padding-bottom: 20px;
}

#form{
    padding-top: 50px;
}

#form form input{
    display: block;
    width: 300px;
    height: 40px;
    border: 1px solid #3D5A73;
    border-radius: 10px;
}
#form button{
    margin-left: 5px;
}

.botao-enviar{
    width: 130px;
    height: 30px;
    color: white;
    font-weight: bold;
    background-color: #3D5A73;
    border: 3px solid #243442;
    border-radius: 8%;
    margin-top: 10px;
    opacity: 90%;
    transition: .5s;
}

 .botao-enviar:hover{
    cursor: pointer;
    width: 150px;
    height: 30px;
    background-color: #3D5A73;
    border: 3px solid #243442;
}


@media (min-width: 320px) and (max-width: 480px) {

    .container-menu h1{
        margin-left: 100px;
    }

    .botoes-header{
        display: none;
    }

    h2, p, button{
        margin-left: 10px;
    }

    .container-sobrenos img{
        display: none;
    }

    .container-conserto img{
        display: none;
    }

    .container-conserto h2{
        padding-top: 30px;
    }

    #mensagem{
        display: none;
    }

    #form{
        display: none;
    }

    #contato{
        padding-left: 0;
    }

    #contato h3{
        margin-left: 10px;
    }

    #endereco h3{
        margin-left: 10px;
    }

}

@media (min-width: 481px) and (max-width: 768px){
    .container-menu h1{
        margin-left:  30%;
    }

    .botoes-header{
        margin-left: 15vh;
    }

    h2, p, button{
        margin-left: 10px;
    }

    .container-sobrenos img{
        display: none;
    }

    .container-conserto img{
        display: none;
    }

    .container-conserto h2{
        padding-top: 30px;
    }

    #mensagem{
        display: none;
    }

    #form{
        display: none;
    }

    #contato{
        padding-left: 0;
    }

    #contato h3{
        margin-left: 10px;
    }

    #endereco h3{
        margin-left: 10px;
    }

}

@media (min-width: 769px) and (max-width: 1024px){
    .container-menu h1{
        margin-left: 50%;
    }

    .botoes-header{
        margin-left: 40vh;
    }

    h2, p, button{
        margin-left: 10%;
    }

    .container-sobrenos img{
        display: none;
    }

    .container-conserto img{
        display: none;
    }

    .container-conserto h2{
        padding-top: 30px;
    }

    #mensagem{
        display: none;
    }

    #form{
        display: none;
    }

    #contato{
        padding-left: 0;
    }

    #contato h3{
        margin-left: 10px;
    }

    #endereco h3{
        margin-left: 10px;
    }

}

@media (min-width: 1025px) and (max-width: 1200px){
    .container-menu h1{
        margin-left: 40%;
    }

    .botoes-header{
        margin-left: 50vh;
    }

    h2, p, button{
        margin-left: 10px;
    }

    .container-sobrenos img, .container-conserto img{
        right: 1%;
    }

    .container-conserto h2{
        padding-top: 30px;
    }

    #mensagem{
        display: none;
    }

    #form{
        display: none;
    }

    #contato{
        padding-left: 15%;
    }

    #contato h3{
        margin-left: 10px;
    }

    #endereco h3{
        margin-left: 200px;
    }

}