*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container-menu{
    width: 100%;
    height: 200px;
    max-height: 200px;
    max-width: 100%;
    background-color: rgb(0, 0, 0);
    color: white;
}

.container-menu h1{
    display: inline-block;
    margin-left: 550px;
    margin-top: 50px;

}

.container-menu img{
    width:30px;
    position: relative;
    left: -300px;
    top: 0px;
}

.container-menu form{
    padding-top: 50px;
    padding-left: 510px;
}

.container-menu form input{
    width: 300px;
    height: 40px;
    border: 3px solid goldenrod;
    border-radius: 100px;
    background-color: rgb(255, 255, 255);
    text-align: center;
}

.container{
    width: 100%;
}

.container-sobrenos{
    height: 400px;
    background-color: rgb(75, 75, 75);
    color: white;
}

 h2, p, button{
    margin-left: 100px;
}

 h2{
    padding-top: 100px;
    padding-bottom: 10px;
}

 button{
    width: 130px;
    height: 30px;
    color: white;
    font-weight: bold;
    background-color: goldenrod;
    border: 3px solid gold;
    border-radius: 8%;
    margin-top: 20px;
    opacity: 90%;
    transition: .5s;
}

 button:hover{
    width: 130px;
    height: 50px;
    background-color: gold;
    border: 3px solid goldenrod;
}

.container-sobrenos img{
    position: absolute;
    right: 200px;
    top: 250px;
    width: 400px;
    height: 300px;
    border: 5px solid goldenrod;
    border-radius: 5%;
    transition: .5s;
}

.container-conserto{
    width: 100%;
    height: 400px;
    background-color: rgb(110, 110, 110);
    color: white;
}

.container-conserto img{
    position: absolute;
    right: 200px;
    top: 650px;
    background-color: black;
    width: 400px;
    height: 300px;
    border: 5px solid goldenrod;
    border-radius: 5%;
    transition: .5s;
}

footer{
    background-color: rgb(0, 0, 0);  
    color: white;
}

.container-footer{
    display: flex;
    width: 100%;
    height: 350px;
    font-size: 20px;
}

#mensagem{
    padding-top: 50px;
    padding-left: 10px;
}

#mensagem h3{
    margin-left: 20px;
    padding-bottom: 20px;
}

#mensagem textarea{
    border: 2px solid goldenrod;
    border-radius: 4%;
    text-align: center;
}

#contato{
    padding-top: 50px;
    padding-left: 50px;
}

#contato h3{
    margin-left: 100px;
    padding-bottom: 20px;
}

#contato p{
    padding-bottom: 30px;
}

#endereco{
    padding-top: 50px;
    padding-left: 50px;
}

#endereco h3{
    margin-left: 100px;
    padding-bottom: 20px;
}

#form{
    padding-top: 50px;
}

#form form input{
    display: block;
    width: 300px;
    height: 40px;
    border: 1px solid goldenrod;
    border-radius: 10px;
}
#form button{
    margin-left: 5px;
}

.botao-enviar{
    width: 130px;
    height: 30px;
    color: white;
    font-weight: bold;
    background-color: goldenrod;
    border: 3px solid gold;
    border-radius: 8%;
    margin-top: 10px;
    margin-left: 100px;
    opacity: 90%;
    transition: .5s;
}

 .botao-enviar:hover{
    width: 130px;
    height: 50px;
    background-color: gold;
    border: 3px solid goldenrod;
}

#direitos{
    display: inline-block;
    margin-right: 100px;
}